@model List<CTCDetailsViewModel>

@{
    ViewData["Title"] = "CTC Details";
}
<div class="mt-2">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <p>List of CTC Details</p>
        </div>
        <div>
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </div>
    </div>
</div>
<table class="table table-striped table-bordered">
    <thead class="thead-light">
        <tr class="bg-secondary text-white">
            <th>Id</th>
            <th>Employee Code</th>
            <th>Earned Basic</th>
            <th>HRA</th>
            <th>Special Allowance</th>
            <th>PF Employee Share</th>
            <th>Professional Tax</th>
            <th>TDS</th>
            <th>Annual CTC</th>
            <th>CTC Month</th>
            <th>PF Employer Share</th>
            <th>PF Employer Share Annual</th>
            <th>Annual Gross Pay</th>
            <th>Month Gross Pay</th>
            <th>Other Additions</th>
            <th>Other Deductions</th>
            <th>Total Deductions</th>
            <th>Net Pay</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var details in Model)
        {
            <tr>
                <td>@details.Id</td>
                <td>@details.Emp_Code</td>
                <td>@details.EarnedBasic</td>
                <td>@details.HRA</td>
                <td>@details.SpecialAllowance</td>
                <td>@details.PFEmployeeShare</td>
                <td>@details.ProfessionalTax</td>
                <td>@details.TDS</td>
                <td>@details.AnnualCTC</td>
                <td>@details.CTCMonth</td>
                <td>@details.PFEmployerShare</td>
                <td>@details.PFEmployerShareAnnual</td>
                <td>@details.AnnualGrossPay</td>
                <td>@details.MonthGrossPay</td>
                <td>@details.OtherAdditions</td>
                <td>@details.OtherDeductions</td>
                <td>@details.TotalDeductions</td>
                <td>@details.NetPay</td>
                <td>
                    <div class="d-flex justify-content-md-evenly">
                        <a asp-action="Edit" asp-route-id="@details.Id" class="btn btn-primary btn-sm mr-2">
                            <i class="bi bi-pencil-square"></i>
                        </a> |
                        <a asp-action="Details" asp-route-id="@details.Id" class="btn btn-info btn-sm mr-2">
                            <i class="bi bi-info-circle"></i>
                        </a> |
                        <a asp-action="Delete" asp-route-id="@details.Id" class="btn btn-danger btn-sm mr-2">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
