@model LeavesViewModel

<h1>Delete</h1>

<h3>Are you sure you want to delete?</h3>
<div>
    <h4>Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Id</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">Employee Code</dt>
        <dd class="col-sm-10">@Model.Emp_Code</dd>

        <dt class="col-sm-2">Type Id</dt>
        <dd class="col-sm-10">@Model.TypeId</dd>

        <dt class="col-sm-2">Total Leaves</dt>
        <dd class="col-sm-10">@Model.TotalLeaves</dd>

        <dt class="col-sm-2">Leaves Available</dt>
        <dd class="col-sm-10">@Model.LeavesAvailable</dd>

        <dt class="col-sm-2">Leaves Used</dt>
        <dd class="col-sm-10">@Model.LeavesUsed</dd>
    </dl>
</div>
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>