@model PaySlipManagement.UI.Models.SalaryMetadataViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SalaryMetadataViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emp_Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emp_Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaySlipForMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaySlipForMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DaysPaid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DaysPaid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AbsentDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AbsentDays)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EarnedBasic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EarnedBasic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HRA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HRA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecialAllowance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecialAllowance)
        </dd> *@
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PFEmployeeShare)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PFEmployeeShare)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfessionalTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfessionalTax)
        </dd> *@
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TDS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TDS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EarningTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EarningTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalDeductions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalDeductions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetPay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetPay)
        </dd> *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnnualCTC)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnnualCTC)
        </dd>
        @* <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CTCMonth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CTCMonth)
        </dd> *@
        @* <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PFEmployerShare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PFEmployerShare)
        </dd> *@
        @* <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PFEmployerShareAnnual)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PFEmployerShareAnnual)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnnualGrossPay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnnualGrossPay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MonthGrossPay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MonthGrossPay)
        </dd> *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OtherAdditions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OtherAdditions)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OtherDeductions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OtherDeductions)
        </dd>
        @* <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LossOfPay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LossOfPay)
        </dd> *@
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Delete</button> |
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>
