@model IEnumerable<PaySlipManagement.Common.Models.SalaryMetadata>

@{
    ViewData["Title"] = "Salary Details";
    var currentPage = (int)ViewBag.CurrentPage;
    var totalPages = (int)ViewBag.TotalPages;
}
<style>
    .custom-select {
        width: 250px;
        border-radius: 5px;
        padding: 8px;
        background-color: #f9f9f9;
        border: 1px solid #ced4da;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

        .custom-select:hover,
        .custom-select:focus {
            border-color: #80bdff;
            box-shadow: 0 0 5px rgba(0, 123, 255, .25);
        }

    .bg-secondary {
        background-color: #6c757d !important;
    }

    .bg-light-orange {
        background-color: #FF8C00 !important; /* Light Orange Color */
        color: white; /* Text color */
    }

    .form-inline .form-group {
        display: flex;
        align-items: center;
    }

        .form-inline .form-group label {
            margin-right: 10px;
        }

    .table th,
    .table td {
        padding: 10px;
    }

    .card {
        border: none;
        border-radius: 12px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }

        .card:hover {
            transform: scale(1.01);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

    .card-header {
        background-color: #ff9800;
        border-radius: 12px 12px 0 0;
        padding: 15px;
        color: #fff;
        text-align: center;
        font-size: 1.25rem;
        font-weight: 500;
    }

    .card-body {
        background-color: #fff8e1;
        padding: 20px;
        color: #424242;
    }

    .section-heading {
        font-size: 1.8rem;
        color: #5dcaff; /* Subtle blue text for a clean look */
        font-weight: 500; /* Medium weight for simplicity */
        padding-bottom: 10px; /* Slight padding to give the heading space */
        padding-top:20px;
        text-align: left; /* Left-aligned for professional appearance */
        letter-spacing: 0.5px; /* Slight spacing between letters for modern feel */
    }

    .btn-custom {
        border-radius: 8px; /* Rounded corners for buttons */
        padding: 6px 12px; /* Slightly increased padding */
        font-size: 0.9rem; /* Smaller font size */
    }

    .styled-hr {
        border: none;
        border-bottom: 2px solid #ffa726; /* Subtle, thin orange underline */
        margin: 20px 0; /* Adjust margins to your liking */
        opacity: 0.7; /* Slight transparency for a softer look */
    }
</style>

<div class="mt-2">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <h3 class="section-heading">Salary Details</h3>
            
        </div>
        <div>
            <a asp-action="Create" class="btn btn-primary btn-custom">Create New</a>
        </div>
    </div>
</div>
<hr class="styled-hr" />
<div class="card mb-4">
    <div class="card-header">
        <h5 class="mb-0">Salary Information</h5>
    </div>
    <div class="card-body">
        <table class="table table-striped table-bordered">
            <thead class="thead-light">
                <tr class="bg-light-orange">
                    <th>@Html.DisplayNameFor(model => model.First().Id)</th>
                    <th>@Html.DisplayNameFor(model => model.First().Emp_Code)</th>
                    <th>@Html.DisplayNameFor(model => model.First().PaySlipForMonth)</th>
                    <th>@Html.DisplayNameFor(model => model.First().DaysPaid)</th>
                    <th>@Html.DisplayNameFor(model => model.First().AbsentDays)</th>
                    <th>@Html.DisplayNameFor(model => model.First().EarnedBasic)</th>
                    <th>@Html.DisplayNameFor(model => model.First().HRA)</th>
                    <th>@Html.DisplayNameFor(model => model.First().SpecialAllowance)</th>
                    <th>@Html.DisplayNameFor(model => model.First().PFEmployeeShare)</th>
                    <th>@Html.DisplayNameFor(model => model.First().ProfessionalTax)</th>
                    <th>@Html.DisplayNameFor(model => model.First().TDS)</th>
                    <th>@Html.DisplayNameFor(model => model.First().EarningTotal)</th>
                    <th>@Html.DisplayNameFor(model => model.First().TotalDeductions)</th>
                    <th>@Html.DisplayNameFor(model => model.First().NetPay)</th>
                    <th>@Html.DisplayNameFor(model => model.First().AnnualCTC)</th>
                    <th>@Html.DisplayNameFor(model => model.First().CTCMonth)</th>
                    <th>@Html.DisplayNameFor(model => model.First().PFEmployerShare)</th>
                    <th>@Html.DisplayNameFor(model => model.First().PFEmployerShareAnnual)</th>
                    <th>@Html.DisplayNameFor(model => model.First().AnnualGrossPay)</th>
                    <th>@Html.DisplayNameFor(model => model.First().MonthGrossPay)</th>
                    <th>@Html.DisplayNameFor(model => model.First().OtherAdditions)</th>
                    <th>@Html.DisplayNameFor(model => model.First().OtherDeductions)</th>
                    <th>@Html.DisplayNameFor(model => model.First().LossOfPay)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.Emp_Code)</td>
                        <td>@Html.DisplayFor(modelItem => item.PaySlipForMonth)</td>
                        <td>@Html.DisplayFor(modelItem => item.DaysPaid)</td>
                        <td>@Html.DisplayFor(modelItem => item.AbsentDays)</td>
                        <td>@Html.DisplayFor(modelItem => item.EarnedBasic)</td>
                        <td>@Html.DisplayFor(modelItem => item.HRA)</td>
                        <td>@Html.DisplayFor(modelItem => item.SpecialAllowance)</td>
                        <td>@Html.DisplayFor(modelItem => item.PFEmployeeShare)</td>
                        <td>@Html.DisplayFor(modelItem => item.ProfessionalTax)</td>
                        <td>@Html.DisplayFor(modelItem => item.TDS)</td>
                        <td>@Html.DisplayFor(modelItem => item.EarningTotal)</td>
                        <td>@Html.DisplayFor(modelItem => item.TotalDeductions)</td>
                        <td>@Html.DisplayFor(modelItem => item.NetPay)</td>
                        <td>@Html.DisplayFor(modelItem => item.AnnualCTC)</td>
                        <td>@Html.DisplayFor(modelItem => item.CTCMonth)</td>
                        <td>@Html.DisplayFor(modelItem => item.PFEmployerShare)</td>
                        <td>@Html.DisplayFor(modelItem => item.PFEmployerShareAnnual)</td>
                        <td>@Html.DisplayFor(modelItem => item.AnnualGrossPay)</td>
                        <td>@Html.DisplayFor(modelItem => item.MonthGrossPay)</td>
                        <td>@Html.DisplayFor(modelItem => item.OtherAdditions)</td>
                        <td>@Html.DisplayFor(modelItem => item.OtherDeductions)</td>
                        <td>@Html.DisplayFor(modelItem => item.LossOfPay)</td>
                        <td>
                            <div class="d-flex justify-content-md-evenly">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm mr-2">
                                    <i class="bi bi-pencil-square"></i>
                                </a> |
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm mr-2">
                                    <i class="bi bi-info-circle"></i>
                                </a> |
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm mr-2">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
<table class="table table-striped table-bordered">
    <thead class="thead-light">
        <tr class="bg-light-orange">
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emp_Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaySlipForMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaysPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbsentDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EarnedBasic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HRA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialAllowance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PFEmployeeShare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfessionalTax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EarningTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalDeductions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetPay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnnualCTC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CTCMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PFEmployerShare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PFEmployerShareAnnual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnnualGrossPay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthGrossPay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherAdditions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherDeductions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LossOfPay)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emp_Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaySlipForMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaysPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbsentDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EarnedBasic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HRA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialAllowance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PFEmployeeShare)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfessionalTax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TDS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EarningTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalDeductions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetPay)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.AnnualCTC)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.CTCMonth)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.PFEmployerShare)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.PFEmployerShareAnnual)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.AnnualGrossPay)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.MonthGrossPay)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.OtherAdditions)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.OtherDeductions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LossOfPay)
            </td>
            <td>
                <div class="d-flex justify-content-md-evenly">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm mr-2">
                        <i class="bi bi-pencil-square"></i>
                    </a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm mr-2">
                        <i class="bi bi-info-circle"></i>
                    </a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm mr-2">
                        <i class="bi bi-trash"></i>
                    </a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="d-flex justify-content-center mt-3">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>
