@model IEnumerable<PaySlipManagement.Common.Models.SalaryMetadata>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emp_Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaySlipForMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaysPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbsentDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EarnedBasic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HRA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialAllowance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PFEmployeeShare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfessionalTax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EarningTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalDeductions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetPay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnnualCTC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CTCMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PFEmployerShare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PFEmployerShareAnnual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnnualGrossPay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthGrossPay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherAdditions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherDeductions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LossOfPay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emp_Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaySlipForMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaysPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbsentDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EarnedBasic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HRA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialAllowance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PFEmployeeShare)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfessionalTax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TDS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EarningTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalDeductions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetPay)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.AnnualCTC)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.CTCMonth)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.PFEmployerShare)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.PFEmployerShareAnnual)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.AnnualGrossPay)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.MonthGrossPay)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.OtherAdditions)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.OtherDeductions)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LossOfPay)
                </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
