@model AccountDetailsViewModel

<h1>Account Details</h1>

<div>
    <h4>Account Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Id</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">Employee Code</dt>
        <dd class="col-sm-10">@Model.Emp_Code</dd>

        <dt class="col-sm-2">Bank Name</dt>
        <dd class="col-sm-10">@Model.BankName</dd>

        <dt class="col-sm-2">Bank Account Number</dt>
        <dd class="col-sm-10">@Model.BankAccountNumber</dd>

        <dt class="col-sm-2">UAN Number</dt>
        <dd class="col-sm-10">@Model.UANNumber</dd>

        <dt class="col-sm-2">PF Account Number</dt>
        <dd class="col-sm-10">@Model.PFAccountNumber</dd>
    </dl>
</div>
<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> |
<a asp-action="Index" class="btn btn-secondary">Back to List</a>
