@model List<AccountDetailsViewModel>

@{
    ViewData["Title"] = "Account Details";
}
<style>
    .custom-select {
        width: 250px;
    }

    .bg-secondary {
        background-color: #6c757d !important;
    }

    .bg-light-orange {
        background-color: #FF8C00 !important; /* Light Orange Color */
        color: white; /* Optional: Text color */
    }

    .form-inline .form-group {
        display: flex;
        align-items: center;
    }

        .form-inline .form-group label {
            margin-right: 10px;
        }
</style>
<div class="mt-2">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <h3>Account Details</h3>
            <p>List of Account Details</p>
        </div>
        <div>
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </div>
    </div>
</div>
<table class="table table-striped table-bordered">
    <thead class="thead-light">
        <tr class="bg-light-orange" >
            <th>Id</th>
            <th>Employee Code</th>
            <th>Bank Name</th>
            <th>Bank Account Number</th>
            <th>UAN Number</th>
            <th>PF Account Number</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in Model)
        {
            <tr>
                <td>@account.Id</td>
                <td>@account.Emp_Code</td>
                <td>@account.BankName</td>
                <td>@account.MaskedBankAccountNumber</td>
                <td>@account.MaskedUanNumber</td>
                <td>@account.MaskedPfAccountNumber</td>
                <td>
                    <div class="d-flex justify-content-md-evenly">
                        <a asp-action="Edit" asp-route-id="@account.Id" class="btn btn-primary btn-sm mr-2">
                            <i class="bi bi-pencil-square"></i>
                        </a> |
                        <a asp-action="Details" asp-route-id="@account.Id" class="btn btn-info btn-sm mr-2">
                            <i class="bi bi-info-circle"></i>
                        </a> |
                        <a asp-action="Delete" asp-route-id="@account.Id" class="btn btn-danger btn-sm mr-2">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
