@model EmployeeViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Employee</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Emp_Code)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Emp_Code)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.EmployeeName)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.EmployeeName)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.DepartmentName)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.DepartmentName)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Designation)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Designation)</dd>
        </dl>
    </div>
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Division)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Division)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Email)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Email)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.PAN_Number)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.PAN_Number)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.JoiningDate)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.JoiningDate)</dd>
        </dl>
    </div>
</div>
<div class="mt-4">
    <div class="row">
        <div class="col-md-6">
            <form asp-action="DeleteConfirm">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-secondary ml-2">Back to List</a>
            </form>
        </div>
    </div>
</div>
