@model IEnumerable<EmployeeViewModel>

@{
    ViewData["Title"] = "Employee Details";
    var currentPage = (int)ViewBag.CurrentPage;
    var totalPages = (int)ViewBag.TotalPages;
}
<style>
    .custom-select {
        width: 250px;
        border-radius: 5px;
        padding: 8px;
        background-color: #f9f9f9;
        border: 1px solid #ced4da;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    .custom-select:hover, .custom-select:focus {
            border-color: #80bdff;
            box-shadow: 0 0 5px rgba(0,123,255,.25);
    }

    .bg-secondary {
        background-color: #6c757d !important;
    }

    .bg-light-orange {
        background-color: #FF8C00 !important; /* Light Orange Color */
        color: black; /* Optional: Text color */
    }

    .form-inline .form-group {
        display: flex;
        align-items: center;
    }

    .form-inline .form-group label {
            margin-right: 10px;
     }

    .table th, .table td {
        padding: 10px;
    }

    .btn-sm {
        font-size: 0.8rem;
    }

    .table thead {
        background-color: #343a40;
        color: #fff;
    }

    .pagination .page-item.active .page-link {
        background-color: #007bff;
        border-color: #007bff;
    }

    .pagination .page-item .page-link {
        color: #007bff;
    }

        .pagination .page-item .page-link:hover {
            background-color: #f1f1f1;
            color: #0056b3;
        }
</style>

<div class="mt-2">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <h3>Employee Details</h3>
            <p>List of Employee Details</p>
        </div>
        <div>
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </div>
    </div>
</div>
<hr />
@* <div class="mt-1 mb-1 py-2">
    <form method="get" asp-action="Index" class="form-inline">
        <div class="form-group">
            <select id="departmentId" name="departmentId" class="form-control custom-select" onchange="this.form.submit()">
                <option value=" ">All</option>
                @foreach (var department in (SelectList)ViewBag.Departments)
                {
                    <option value="@department.Value">@department.Text</option>
                }
            </select>
        </div>
    </form>
</div>
 *@
 <div class="mt-1 mb-1 py-2">
    <form method="get" asp-action="Index" class="form-inline">
        <div class="form-group">
            <select id="departmentId" name="departmentId" class="form-control custom-select" onchange="this.form.submit()">
                @if (ViewBag.SelectedDepartmentId == null)
                {
                    <option value="" selected>All</option>
                }
                else
                {
                    <option value="">All</option>
                }
                @foreach (var department in (SelectList)ViewBag.Departments)
                {
                    var isSelected = ViewBag.SelectedDepartmentId?.ToString() == department.Value ? "selected" : "";
                    <option value="@department.Value" selected=@isSelected>
                        @department.Text
                    </option>
                }
            </select>
        </div>
    </form>
</div>

<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light">
        <tr class="bg-light-orange text-white">
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Emp_Code)</th>
            <th>@Html.DisplayNameFor(model => model.EmployeeName)</th>
            <th>@Html.DisplayNameFor(model => model.DepartmentName)</th>
            <th>@Html.DisplayNameFor(model => model.Designation)</th>
            <th>@Html.DisplayNameFor(model => model.Division)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.PAN_Number)</th>
            <th>@Html.DisplayNameFor(model => model.JoiningDate)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Emp_Code)</td>
                <td>@Html.DisplayFor(modelItem => item.EmployeeName)</td>
                <td>@Html.DisplayFor(modelItem => item.DepartmentName)</td>
                <td>@Html.DisplayFor(modelItem => item.Designation)</td>
                <td>@Html.DisplayFor(modelItem => item.Division)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.MaskedPanNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.JoiningDate)</td>
                <td>
                    <div class="d-flex justify-content-md-evenly">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm mr-2">
                            <i class="bi bi-pencil-square"></i>
                        </a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm mr-2">
                            <i class="bi bi-info-circle"></i>
                        </a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm mr-2">
                            <i class="bi bi-trash"></i>
                        </a> |
                        <div class="col-auto">
                            <form asp-action="SetEmployeeInactive" method="post" style="display:inline;">
                                <input type="hidden" name="id" value="@item.Id" />  <!-- Hidden field to pass employee ID -->
                                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to deactivate this employee?');">
                                    Inactivate
                                </button>
                            </form>
                        </div> |
                        <span id="toggleButton-@item.Id" class="btn btn-danger btn-sm" onclick="toggleDetails(@item.Id)">
                            <i class="bi bi-plus"></i>
                        </span>
                    </div>
                </td>
            </tr>
            <tr id="detailsSection-@item.Id" style="display: none;">
                <td colspan="10">
                    <div class="bg-secondary bg-opacity-25">
                        <div class="container">
                            <div class="row">
                                <div class="col-6 p-2">
                                    <div class="d-flex align-items-center justify-content-start">
                                        <h6 class="mx-1">Payslip</h6>
                                        <div class="mx-1 w-50">
                                            <select class="form-control" id="payslipMonth">
                                                <option>--Select Month--</option>
                                                <option>June-2024</option>
                                                <option>July-2024</option>
                                            </select>
                                        </div>
                                        <button type="button" class="btn btn-primary">Download</button>
                                    </div>
                                </div>
                                <div class="col-6 text-right p-2">
                                    @* <div class="d-flex align-items-center justify-content-end">
                                        <h6 class="mx-1">CTC</h6>
                                        <button type="button" class="btn btn-primary">Download</button>
                                    </div> *@
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex justify-content-center mt-3">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @for (int i = 1; i <= totalPages; i++)
            {
                <li class="page-item @(i == currentPage ? "active" : "")">
                    <a class="page-link" asp-action="Index" asp-route-departmentId="@ViewBag.SelectedDepartmentId" asp-route-page="@i">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>

<script>
    function toggleDetails(itemId) {
        var detailsSection = document.getElementById('detailsSection-' + itemId);
        if (detailsSection.style.display === 'none') {
            detailsSection.style.display = 'table-row';
        } else {
            detailsSection.style.display = 'none';
        }
    }
</script>