@model IEnumerable<EmployeeViewModel>

@{
    ViewData["Title"] = "Employee Details";
}
<style>
    .custom-select {
        width: 250px;
    }

    .bg-secondary {
        background-color: #6c757d !important;
    }

    .form-inline .form-group {
        display: flex;
        align-items: center;
    }

        .form-inline .form-group label {
            margin-right: 10px;
        }
</style>
<div class="mt-2">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <h3>Employee Details</h3>
            <p>List of Employee Details</p>
        </div>
        <div>
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </div>
    </div>
</div>
<hr />
<div class="mt-1 mb-1 py-2">
    <form method="get" asp-action="Index" class="form-inline">
        <div class="form-group">
            <select id="departmentId" name="departmentId" class="form-control custom-select" onchange="this.form.submit()">
                <option value="">All</option>
                @foreach (var department in (SelectList)ViewBag.Departments)
                {
                    <option value="@department.Value">@department.Text</option>
                }
            </select>
        </div>
    </form>
</div>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light">
        <tr class="bg-secondary text-white">
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Emp_Code)</th>
            <th>@Html.DisplayNameFor(model => model.EmployeeName)</th>
            <th>@Html.DisplayNameFor(model => model.DepartmentName)</th>
            <th>@Html.DisplayNameFor(model => model.Designation)</th>
            <th>@Html.DisplayNameFor(model => model.Division)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.PAN_Number)</th>
            <th>@Html.DisplayNameFor(model => model.JoiningDate)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Emp_Code)</td>
                <td>@Html.DisplayFor(modelItem => item.EmployeeName)</td>
                <td>@Html.DisplayFor(modelItem => item.DepartmentName)</td>
                <td>@Html.DisplayFor(modelItem => item.Designation)</td>
                <td>@Html.DisplayFor(modelItem => item.Division)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.MaskedPanNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.JoiningDate)</td>
                <td>
                    <div class="d-flex justify-content-md-evenly">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm mr-2">
                            <i class="bi bi-pencil-square"></i>
                        </a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm mr-2">
                            <i class="bi bi-info-circle"></i>
                        </a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm mr-2">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>